<div class="bgLoader" *ngIf="loading == true"><div class="bgWhite"><div class="bgSpinner"></div></div></div>
<div class="header bg-gradient-dangerNew pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6">
          <a (click)="openDialogMatch()" class="btn btn-sm btn-primary" style="float: right;">
            <span class="btn-inner--icon"><img src="assets/img/icons/common/plus.png" style="width: 30px;margin-right: 5px;"></span>
            <span class="btn-inner--text">Adicionar jogo</span>
          </a>
        </div>
      </div>
     
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
<!-- Table -->
  <div class="row" style="min-height: 400px;">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Rodada - {{sname}}</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary" [routerLink]="['/jogos', idTemporada]" title="Jogos"> << Voltar</a>
            </div>
          </div>
        </div>
      
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Data</th>
                <th scope="col">Horário</th>
                <th scope="col" style="width: 130px;">Acessar</th>
                <th scope="col" style="width: 130px;">Visualizar</th>
                <th scope="col" style="width: 130px;">Súmula</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rodada of dataSource">
                
                <td>
                 {{rodada.match_descr}}
                </td>
                <td>{{rodada.m_date | date: 'dd/MM/yyyy'}}</td>
                <td>{{rodada.m_time}}</td>
                <td>
                  <a (click)="openEvent(rodada)" class="btn btn-icon btn-sm btn-primary">
                    <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                    <span class="btn-inner--text">Acessar jogo</span>
                  </a>
                </td>
                <td>
                  <a (click)="view(rodada.id)" class="btn btn-icon btn-sm btn-default">
                    <span class="btn-inner--icon"><i class="ni ni-collection"></i></span>
                    <span class="btn-inner--text">Visualizar súmula</span>
                  </a>
                </td>

                <td>
                  <a (click)="submit(rodada.id)" class="btn btn-icon btn-sm btn-default">
                    <span class="btn-inner--icon"><i class="ni ni-collection"></i></span>
                    <span class="btn-inner--text">Gerar súmula</span>
                  </a>
                </td>

               
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <form id="htmlForm" #htmlForm target="_blank" method="GET" action="{{urltopost}}">
    <input type="hidden" name="id_match" id="id_match" [(ngModel)]="id_match" value="{{id_match}}">
    <input type="hidden" name="token" id="token" [(ngModel)]="token" value="{{token}}">
</form>
</div>
