<div class="bgLoader" *ngIf="loading == true"><div class="bgWhite"><div class="bgSpinner"></div></div></div>
<div class="header bg-gradient-dangerNew pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6">
          <a href="#!" [routerLink]="['/newjogadores']" class="btn btn-sm btn-primary" style="float: right;">
            <span class="btn-inner--icon"><img src="assets/img/icons/common/plus.png" style="width: 30px;margin-right: 5px;"></span>
            <span class="btn-inner--text">Criar um novo jogador</span>
          </a>
        </div>
      </div>
     
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
<!-- Table -->
  <div class="row" style="min-height: 400px;">

    
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="background: #f6f9fc;">

          <div class="row">
            <div class="col-lg-12">
            <p-tabView>
              <p-tabPanel header="Pesquisar Jogador">
                <div class="row" style="margin-top: 20px;">
                  <div class="col-lg-2">
                    <h3 class="mb-0"></h3>
                  </div>
                  <div class="col-lg-8" style="text-align: center;">
                    <div class="form-group">
                      <label class="form-control-label" for="nick">Pesquisar jogador</label>
                      <input type="text" (keyup.enter)="searchJogador()" placeholder="Digite o nome do jogador" name="matjogadorricula" id="jogador" class="form-control form-control-alternative" [(ngModel)]="jogadorSearch">
                    </div>
                    <button class="btn btn-sm btn-icon btn-default" (click)="searchCancel()" style="width: 130px;background: #f6f9fc;border: 1px solid #666;color: #666;">
                      <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                      <span class="btn-inner--text">Limpar</span>
                    </button>
                    <button class="btn btn-sm btn-icon btn-primary" (click)="searchJogador()" style="width: 130px;background: #7283dd;border: 1px solid #7283dd;color: #fff;">
                      <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                      <span class="btn-inner--text">Buscar</span>
                    </button>
                  </div>
                  <div class="col-lg-8" style="text-align: center;"></div>
                
                  <!--<div class="col-lg-6" style="float: right;text-align: right;">
                    <h5>Filtrar</h5>
                    <p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>
                  </div>-->
                </div>
              </p-tabPanel>
              <p-tabPanel header="Pesquisar por time">
                <div class="row" style="margin-top: 20px;">
                  <div class="col-lg-2">
                    <h3 class="mb-0"></h3>
                  </div>
                  <div class="col-lg-8" style="text-align: center;">
                    <div class="form-group">
                      <label class="form-control-label" for="nick">Selecione o time</label>
                      <select name="team_id" class="form-control form-control-alternative" [(ngModel)]="teamId">
                        <option [ngValue]="null" disabled>Selecione o time</option>
                        <option *ngFor="let time of dataTimes" [ngValue]="time.id">{{time.t_name}}</option>
                      </select>
                    </div>
                    <button class="btn btn-sm btn-icon btn-default" (click)="searchCancel()" style="width: 130px;background: #f6f9fc;border: 1px solid #666;color: #666;">
                      <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                      <span class="btn-inner--text">Limpar</span>
                    </button>
                    <button class="btn btn-sm btn-icon btn-primary" (click)="searchJogadorByTeam()" style="width: 130px;background: #7283dd;border: 1px solid #7283dd;color: #fff;">
                      <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                      <span class="btn-inner--text">Buscar</span>
                    </button>
                  </div>
                
                </div>
              </p-tabPanel>
              <p-tabPanel header="Pesquisa avançada">
                <div class="row" style="margin-top: 20px;">
                  <div class="col-lg-2">
                    <h3 class="mb-0"></h3>
                  </div>
                  <div class="col-lg-4" style="text-align: center;">
                    <div class="form-group">
                      <label class="form-control-label" for="nick">Pesquisar jogador</label>
                      <input type="text" (keyup.enter)="searchJogadorByTeam()" placeholder="Digite o nome do jogador" name="jogadorSearchs" id="jogador" class="form-control form-control-alternative" [(ngModel)]="jogadorSearchs">
                    </div>
                  </div>
                  <div class="col-lg-4" style="text-align: center;">
                    <div class="form-group">
                      <label class="form-control-label" for="nick">Selecione o time</label>
                      <select name="team_id" class="form-control form-control-alternative" [(ngModel)]="team_ids">
                        <option [ngValue]="null" disabled>Selecione o time</option>
                        <option *ngFor="let time of dataTimes" [ngValue]="time.id">{{time.t_name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2">
                    <h3 class="mb-0"></h3>
                  </div>
                  <div class="col-lg-8" style="text-align: center;">
                    <button class="btn btn-sm btn-icon btn-default" (click)="searchCancel()" style="width: 130px;background: #f6f9fc;border: 1px solid #666;color: #666;">
                      <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                      <span class="btn-inner--text">Limpar</span>
                    </button>
                    <button class="btn btn-sm btn-icon btn-primary" (click)="searchJogadorAndTeam()" style="width: 130px;background: #7283dd;border: 1px solid #7283dd;color: #fff;">
                      <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                      <span class="btn-inner--text">Buscar</span>
                    </button>
                  </div>
                </div>
              </p-tabPanel>
          </p-tabView>
          </div>
        </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="width: 50px;"></th>
                <th scope="col">Nome</th>
                <th scope="col">Time</th>
                <th scope="col" style="width: 200px;">Acessar</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let time of dataSource">
                <td>
                  <div style="width: 50px;height: 50px;overflow: hidden;border-radius: 25px;"><img style="width: 70px;margin-left: -10px;" src="https://ccfutebolsociety.com/storage/players/{{time.def_img}}"></div>
                 </td>
                <td>
                 {{time.first_name}} {{time.last_name}}
                </td>
                <td>
                  {{time.team.t_name}}
                </td>
                <td>
                  <a [routerLink]="['/newjogadores', time.id]" class="btn btn-icon btn-sm btn-primary">
                    <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                    <span class="btn-inner--text">Acessar jogador</span>
                  </a>
                </td>

               
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0" >
              <div *ngFor="let page of pagination">
                <li *ngIf="page.label=='pagination.previous'" [ngClass]="{'disabled':!page.url}" class="page-item">
                  <a class="page-link" (click)="getAll(page.label, page.url)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngIf="parseValue(page.label) || page.label=='...'" [ngClass]="{'active':page.active===true}" class="page-item" >
                  <a class="page-link" (click)="getAll(page.label, page.url)">{{page.label}}</a>
                </li>
                <li class="page-item" *ngIf="page.label=='pagination.next'">
                  <a class="page-link" (click)="getAll(page.label, page.url)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
            </div>
              
             
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
