.multiselect-dropdown{
    border: 0px !important;
}
ng-multiselect-dropdown{
    border: 0px !important;
}

.multiselect-dropdown > span{
    border: 0px !important;
}

.dropdown-btn {
    border: 0px !important;
}